@use "./cssReset/index.scss" as reset;
@use "./variables/global/index.scss" as global;
@use "./themes/darkTheme/index.scss" as dark;
@use "./themes/lightTheme/index.scss" as light;

@font-face {
   font-family: Michroma;
   font-weight: normal;
   font-style: normal;
   src: url("../static/assets/fonts/Michroma-Regular.ttf") format("truetype");

   // src: url("~stattic/assets/fonts/Michroma-Regular.ttf") format("truetype");
}

.app {
   font-family: var(--font-family-main);
   background-color: var(--bg-color);
   color: var(--primary-color);
   min-height: 100vh;
}

.content-page {
   display: flex;
}

.page-wrapper {
   flex-grow: 1;
   padding: 20px;
}
