.item {
   margin-top: 20px;
   margin-left: 10px;
   display: flex;
   flex-direction: column;
}

.itemname {
   margin-top: 10px;
   display: flex;
   align-items: center;
}

.link {
   margin-left: 20px;
   opacity: 1;
}

.icon {
   fill: var(--secondary-color);
}
