.app.dark {
   --bg-color: rgb(5 5 20);
   --invert-bg-color:rgb(147, 147, 147);
   --primary-color: rgb(255 170 0);
   --secondary-color: rgb(255 201 92);
   --invert-primary-color: rgb(7, 36, 0);
   --invert-secondary-color: rgb(0, 71, 4);
}
