.app.light {
   --bg-color: rgb(216 216 216);
   --invert-bg-color: rgb(5 5 20);
   --primary-color: rgb(0 146 7);
   --secondary-color:rgb(94 255 0);
   --invert-primary-color:  rgb(255 136 0);
   --invert-secondary-color: rgb(255 196 0);
}
