.app.light {
  --bg-color: rgb(70 70 70);
  --invert-bg-color: rgb(5 5 20);
  --primary-color: rgb(0 0 0 / 70%);
  --secondary-color: rgb(0 0 0);
  --invert-primary-color: rgb(255 201 92);
  --invert-secondary-color: rgb(255 170 0);
}
