.app.light {
   --bg-color: rgb(147, 147, 147);
   --invert-bg-color: rgb(5 5 20);
   --primary-color: rgb(7, 36, 0);
   --secondary-color: rgb(0, 71, 4);
   --invert-primary-color: rgb(255 170 0);
   --invert-secondary-color: rgb(255 201 92);
}
