.sidebarheader {
   margin-top: 20px;
   margin-left: 30px;
   display: flex;
   flex-direction: column;
}

.item {
   margin-top: 10px;
   display: flex;
   align-items: center;
}
.link {
   opacity: 1;
   
}
.icon {
   fill: var(--primary-color);
   margin-left: -20px;
}
